<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Pie Café</title>
</head>
<body>
    <header>
        <nav role="navigation" aria-label="main navigation">
            <div>
                <a href ="/applePieCafe">
                    <img src="https://i.ibb.co/bQ9kB6b/logo.png" alt="logo">
                </a>
                <h1>EL APPLE PIE CAFÉ</h1>
            </div>
            <div>
                <ul>
                    <li><a href="#">Menú</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Horario y Ubicación</a></li>
                    <li><a href ="#">Contacto</a></li>
                </ul>         
            </div>
        </nav>
    </header>
    <main>
        <div>
            <img src="https://i.ibb.co/BNNDpYr/Store-Front.png">
            <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.stockland.com.au%2F~%2Fmedia%2Fshopping-centre%2Fcommon%2Fstockland-baringa%2Fstores%2Fsg-bakery%2Fbakery-1920x1080.jpg&f=1&nofb=1">
            <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fdd%2Fcb%2F98%2Fddcb987938c90e1b485e6c72f7a4ffed.jpg&f=1&nofb=1">
        </div>
    </main>
</body>
</html>